

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFB22C;
}



#cityInput{

    padding: 30px;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 20px;
    border: 3px solid #EB5B00;
    margin: 10px;
    width: 300px;
    background-color: #ECCEAE;
}

#cityInput:hover{
    background-color:#EB5B00 ;
}
button{

    padding: 20px  10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    margin: 10px;
    width: 300px;
    background-color: #ECCEAE;
}

button:hover{
    background-color:#EB5B00;
    color: white;
}

.card{
    background: linear-gradient(180deg ,hsl(210 ,100% ,75%) ,hsl(40 , 100% ,75%));
    padding: 50px;
    box-shadow: 2px 2px 5px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 25px;
}

p{
    font-size: 1rem;
    margin: 5px 0;
}

.cityDisplay , .tempDisplay{
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-top: 25px;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
}

.weatherEmoji{
    margin:0;
    font-size: 6rem;
}

.errorDisplay{
    font-size:2.5rem;
    font-weight: bold;
    color:black ;
}